@import "../../styleVariables.scss";
$border-radius: 0.25rem;

.keypadFrame{
    padding: 5px;
    margin: 5px;
    width: 480px;
}

.toolBar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 5px;
    //background: linear-gradient(360deg,#383836 10%,#4a4a4a 360%);
}
.buttons{
    display: flex;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 5px;
    //background: linear-gradient(360deg,#383836 10%,#4a4a4a 360%);
}

.errorDisplayer{
    grid-column: span 3;
}
.errorMsg {
    margin: 2px;
    padding: 5px;
    color: $blue-dark;
    background-color: $red-mid;
    border-radius: $border-radius;
    border-color: $red-dark;
    border-style: solid;
    border-width: thin;
    font-size: 20px;
    height: 58px;
    overflow: hidden;
}