@import "./src/styleVariables.scss";
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

html {
    height: 100%;
    font-family: 'Varela Round', sans-serif;
}

body {
    align-items: center;
    background: linear-gradient(#13547a, #80d0c7);
    //background: linear-gradient($blue-light, $magenta-mid);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
