@import "./src/styleVariables.scss";

html {
    height: 100%;
}

body {
    align-items: center;
    //background: linear-gradient(#13547a, #80d0c7);
    background: linear-gradient($blue-light, $magenta-mid);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
