.header {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    align-items: center;
    justify-content: center;
}

.frame {
    background: linear-gradient(#cfd9df, #e2ebf0);
    width: 500px;
    height: 615px;
    display: grid;
    grid-template-columns: auto;
    //gap: 3px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.25rem;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding: 5px;
}

.logo {
    max-height: 100px;
    max-width: 100px;
    height: 100px;
    width: 100px;
}

