$blue-dark: #3D445C;
$blue-light: #9CA7C3;
$grey-neutral: #F3F0F9;
$grey-dark: #63686F;
$grey-darkest: #4a4a4a;
$magenta-light: #ffb4af;
$magenta-mid: #fa9088;
$magenta-dark: #fa756c;
$red-mid: #FBB7CB;
$red-dark: #c62a2a;
$orange-mid: #FEB06A;
$yellow-mid: #FBD160;
$yellow-light: #ffefc4;
$beige-light: #FBF6F3;
$green-light: #E2F8F0;
$green-mid: #50DEBC;
$green-dark: #03BBB0;
